*.[oad]
*~
*.exe
.DS_Store
._.DS_Store
*.swp
/**.txt*/
.ipynb_checkpoints
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
src/Makefile
src/Makefile.in
src/effz
stamp-h1
effz
*.tar.gz
