*.[oad]
*~
*.exe
.DS_Store
._.DS_Store
*.swp
*.lo
/**.txt*/
effz_lib/effz*.h
.ipynb_checkpoints
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
src/Makefile
src/Makefile.in
src/effz
stamp-h1
effz
*.tar.gz
ar-lib
compile
config.guess
config.sub
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.libs/
src/libeffzlib.la
